.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

textarea {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
    background-color: #D7CFCD;
}
inp {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FDCA90;
    color: white;
    border: none;
    cursor: pointer;
}
body{
    background-color:#4F687F;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #474440;
  opacity: 1; /* Firefox */
}

button:hover {
    background-color: #474440;
}

input.txt{
  background-color : #D7CFCD; 
}

h1 {
    font-size: 50px;
    color: #292b2e;
}


h3 {
    font-size: 20px;
      text-align: center;
    color: #292b2e;
}
